# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.egg
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.nyc_output/
coverage/
.coverage

# Virtual environment
venv/
.venv/
env/
.env/
*/venv/
*/.venv/
*/env/
*/.env/

# Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# OS
.DS_Store
.Trashes
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyright
.pyright/

# Data
*.sqlite3
*.db
*.log
*.csv
*.json
# *.yaml
# *.yml

# Uploaded files
media/
static/

# Environment variables
.env
.flaskenv

# Custom
data/
outputs/